div.page {
  min-height:10vh;
  }


.img-fluid{
  max-width: 100%;
  height: auto;
 
}

.p1{
  font-size: 50%;
  color: white;
  padding: 2%;
}

.w-50{
 margin: 20% 25%;
 padding: 1%;
 color: white;
}

.w-51{
  color: white;
  font-size: 2vw;
  margin: 5%;
  font-weight: 300;
}