div.page {
  min-height:1000px;
  }

.nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 1%;
  width: 50vw;
  margin: 1% 40%;
}

li{
  padding: 4%;
 
}

.img-fluid{
  max-width: 100%;
  height: auto;
  background-image: url(images/assets/backgrounds/h_img.jpg);
}

.first-txt {
  position: relative;
  bottom: 50vh ;
  left: 40vw;
  font-size: 3vw;
}

.second-txt {
  position: relative;
  bottom: 40vh;
  left: 40vw;
}